---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import ValueStack from '../components/ValueStack.astro';
import Benefits from '../components/Benefits.astro';
import HowItWorks from '../components/HowItWorks.astro';
import WaitlistCta from '../components/WaitlistCta.astro';

const waitlistUrl = "#waitlist";
const formUrl =
	"https://tally.so/embed/3x5zQ0?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1";
---

<Layout
	title="Growth Room | Weekly Expert Access"
	description="Fix what is broken in your paid acquisition, recover wasted spend, and scale what works."
>
	<Hero waitlistUrl={waitlistUrl} />
	<Problem />
	<Solution />
	<ValueStack />
	<Benefits />
	<HowItWorks />
	<div id="waitlist">
		<WaitlistCta waitlistUrl={waitlistUrl} formUrl={formUrl} />
	</div>
</Layout>
